@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');

body {
  background: #1c1a19;
  margin: 0;
  width: fit-content;
}

a {
  text-decoration: none;
  font-family: inter, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: inter, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-left: 154px;
}

.togglebar,
.toggleImage {
  display: none;
}

.headline1 {
  font-family: Crete Round, sans-serif;
  font-weight: normal;
  color: #f55800;
  font-size: 72px;
}

.headline2 {
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 32px;
}

.headline p {
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
}

.headline {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
}

.nav-items li {
  display: inline-block;
  padding: 0 32px;
}

.nav-items li img {
  margin-right: 122px;
}

.backgroundImage {
  height: 645.51px;
  width: 633.32px;
  order: 3;
  padding-right: 0;
}

.container {
  order: 1;
  max-height: 100vh;
  align-self: center;
  margin: 0;
  width: 6%;
  box-sizing: border-box;
}

.section-text {
  order: 2;
  width: 39.3%;
}

@media all and (max-width: 500px) {
  .togglebar {
    display: block;
    margin-right: 24px;
  }

  .nav-items {
    display: none;
  }

  .logo {
    margin-left: 12px;
    padding: 12px;
  }

  .headline {
    display: block;
  }

  .headline1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    margin: 12px 48px;
    padding-top: 120px;
  }

  .headline2 {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 12px 48px;
  }

  .headline p {
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 12px 48px;
    word-spacing: 0.9px;
  }

  .backgroundImage {
    display: none;
  }

  .toggleImage {
    display: block;
    position: absolute;
    top: 67%;
    left: 72%;
  }

  .container {
    width: auto;
  }

  .section-text {
    width: auto;
  }

  .container li {
    display: inline-block;
  }

  .container li img {
    margin: 0 12px;
  }
}

.work {
  background-color: #fff;
}

.workflex {
  display: flex;
  justify-content: space-between;
  margin: 0 141px;
}

.workimage {
  width: 58%;
}

.work1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.work1 ul {
  list-style-type: none;
  margin: 12px 0;
  padding: 0;
}

.work1 li {
  display: inline-block;
}

.work1head {
  font-family: crete round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #091e42;
  margin: 12px 0;
  margin-top: 0;
}

.work1text {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #091e42;
  line-height: 28px;
  margin: 12px 0;
}

.work1p p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 0;
  margin-right: 12px;
}

.workflex button {
  padding: 12px;
  background-color: #f55800;
  font-size: 17px;
  font-family: inter, sans-serif;
  color: #fff;
  font-weight: bold;
  border: 0;
  margin: 12px 0;
}