@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');

body {
  background: #1c1a19;
  margin: 0;
  width: fit-content;
}

a {
  text-decoration: none;
  font-family: inter, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: inter, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-left: 154px;
  animation-name: rotatelogo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rotatelogo {
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

.togglebar,
.toggleImage {
  display: none;
}

.headline1 {
  font-family: Crete Round, sans-serif;
  font-weight: normal;
  color: #f55800;
  font-size: 72px;
  line-height: 81px;
  margin: 162px 0 24px 0;
}

.headline2 {
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 32px;
}

.headline3 {
  font-family: Inter, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  width: 566px;
}

.headline {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-items {
  display: flex;
  align-content: center;
}

.nav-items li {
  display: inline-block;
  margin: 0 16px;
}

.nav-items li img {
  margin-right: 122px;
}

.backgroundImage {
  height: 645.51px;
  width: 633.32px;
  order: 3;
  padding-right: 0;
}

.container {
  order: -1;
  max-height: 100vh;
  align-self: center;
  margin: 0;
  width: 6%;
  box-sizing: border-box;
}

.container li {
  margin-bottom: 20px;
}

.work {
  background-color: #fff;
  padding: 2px 0;
}

.workhead {
  font-family: crete round, sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  color: #091e42;
  margin: 135px 141px 114px 141px;
  display: flex;
  flex-direction: row;
}

.workhead2 {
  display: none;
}

.work hr {
  display: none;
}

.workhead::after {
  content: " ";
  flex: 1 1;
  border-bottom: 2px solid #091e42;
  margin: auto;
  margin-left: 12px;
}

.workflex {
  display: flex;
  justify-content: space-between;
  margin: 0 141px;
}

.workimage {
  width: 58%;
}

.work1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.work1 ul {
  list-style-type: none;
  margin: 12px 0;
  padding: 0;
}

.work1 li {
  display: inline-block;
}

.work1head {
  font-family: crete round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #091e42;
  margin: 12px 0;
  margin-top: 0;
}

.work1text {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #091e42;
  line-height: 28px;
  margin: 12px 0;
}

.work1p p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 0;
  margin-right: 12px;
}

button {
  padding: 12px;
  font-size: 17px;
  font-family: inter, sans-serif;
  font-weight: bold;
  border: 0;
  margin: 12px 0 0 0;
}

button:enabled {
  background-color: #f55800;
  color: #fff;
}

button:hover {
  background-color: #fff5e1;
  border: 0.5px solid;
  border-color: #f55800;
  color: #f55800;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
  animation: push 0.1s linear 1;
}

@keyframes push {
  50% { transform: scale(0.8); }
}

button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.workgrid12 {
  display: none;
}

.workgrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 435px 435px;
  grid-gap: 37px 24px;
  margin: 24px 141px 130px 141px;
  height: 100%;
}

.workgrid1 {
  background: url("Images/ImgPlaceholder\(1\).png");
  display: flex;
  align-items: flex-end;
}

.workgrid1 button {
  padding: 12px;
  font-size: 17px;
  font-family: inter, sans-serif;
  font-weight: bold;
  border: 0;
  width: 100%;
}

.workgrid2 {
  background: url("Images/ImgPlaceholder\(2\).png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workgrid3 {
  background: url("Images/ImgPlaceholder3.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workgrid4 {
  background: url("Images/ImgPlaceholder4.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workgrid5 {
  background: url("Images/ImgPlaceholder5.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workgrid6 {
  background: url("Images/ImgPlaceholder6.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workgridp1 {
  font-family: crete round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 12px 0;
  padding: 0 12px;
}

.workgridp2 {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0;
  padding: 0 12px;
}

.workgrid ul {
  padding: 0 12px;
}

.workgrid li {
  display: inline-block;
}

.formflex h2 {
  font-family: inter, sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  width: 40%;
}

.aboutsub p {
  font-family: inter, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 22px;
  padding: 0;
  padding-top: 32px;
  margin: 0;
}

.workgrid li p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #fff;
  padding: 10px 12px;
  margin: 0;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.aboutme {
  background-color: #262626;
  margin: 0;
  padding: 12px 0;
}

.aboutme h2 {
  color: #f55800;
  font-family: crete round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  padding: 0;
  margin: 0;
}

.aboutp {
  font-family: inter, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #fff;
  width: 566px;
}

.aboutmain1 {
  margin: 130px 0 100px 141px;
  background: url(Images/Group1.png);
  background-repeat: no-repeat;
  background-position: 122% 0;
  padding: 39px;
}

.aboutme hr {
  margin: 0 142px;
}

.aboutsub {
  display: flex;
  margin: 146px 0 142px 96px;
  justify-content: space-around;
}

.aboutsub ul,
.aboutsub li {
  margin: 0;
}

.aboutsub ul {
  padding-right: 120px;
  margin-right: 72px;
}

.sub1 {
  display: flex;
  align-items: center;
}

.aboutsub .sub1 h4 {
  color: #fff;
  font-family: inter, sans-serif;
  font-size: 32px;
  font-weight: normal;
  padding-left: 12px;
  margin: 0;
  margin-bottom: 12px;
}

.pop:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% { transform: scale(1.5); }
}

.form {
  background-color: #e5e5e5;
  margin: 0;
  padding-top: 130px;
}

.formflex {
  display: flex;
  margin: 0 142px 154px 135px;
  justify-content: space-between;
}

.name {
  display: none;
}

.name1 {
  border: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: #e5e5e5;
  border-color: #dbd8d7;
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #979493;
  width: 588px;
  padding: 14px;
}

.email {
  border: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: #e5e5e5;
  border-color: #dbd8d7;
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #979493;
  width: 588px;
  padding: 14px;
}

.note {
  border: 0.5px solid;
  background-color: #fbf8f7;
  border-color: #dbd8d7;
  font-family: roboto, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #979493;
  width: 586px;
  height: 100px;
  margin: 24px 0 0 0;
  padding: 14px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer li {
  display: inline-block;
  padding: 0 10px;
}

@media all and (max-width: 500px) {
  .togglebar {
    display: block;
    position: absolute;
    top: 8px;
    right: 24px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-items {
    display: none;
  }

  .menu-open {
    display: block;
    background-color: #3c3a39;
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 100%;
    height: 100vh;
  }

  .menu-open li {
    padding-top: 20px;
    display: flex;
    width: 80%;
  }

  .menu-open li a {
    font-family: roboto, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
  }

  .nav-items li img {
    margin-right: 0;
  }

  .show-list {
    border-bottom: 1px solid #6f6c6b;
    width: 80%;
    padding-bottom: 8px;
  }

  .close {
    justify-content: flex-end;
    margin-right: 0;
  }

  .menu-open .menu-img {
    display: none;
  }

  .logo {
    margin-left: 12px;
    padding: 12px;
  }

  .headline {
    display: block;
    background: url("Images/Group.png");
    background-position: 98% 110%;
    background-repeat: no-repeat;
    padding-bottom: 237px;
  }

  .headline1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    margin: 12px 24px;
    padding-top: 120px;
  }

  .headline2 {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 12px 24px;
  }

  .headline3 {
    font-family: poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 12px 24px;
    word-spacing: 0.9px;
    width: auto;
  }

  .backgroundImage {
    display: none;
  }

  .container {
    width: auto;
  }

  .section-text {
    width: auto;
  }

  .container li {
    display: inline-block;
  }

  .container li img {
    margin: 0 12px;
  }

  .work {
    background-color: #fff;
    padding: 2px 0 120px 0;
  }

  .work hr {
    display: block;
    margin: 24px;
  }

  .workhead {
    display: none;
  }

  .workhead2 {
    display: block;
    font-family: crete round, sans-serif;
    font-size: 36px;
    margin: 0 56px;
    padding-top: 120px;
    color: #091e42;
  }

  .workflex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 12px 0 24px;
  }

  .workimage {
    width: 367px;
  }

  .work1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .work1 ul {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
  }

  .work1 li {
    display: inline-block;
  }

  .work1head {
    font-family: crete round, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #091e42;
    width: auto;
    margin: 12px 0;
  }

  .work1text {
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #091e42;
    line-height: 24px;
    margin: 12px 0;
    width: auto;
    padding: 0;
  }

  .work1p p {
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #091e42;
    padding: 10px 12px;
    border: 1px solid #8993a4;
    margin: 0;
    margin-right: 12px;
  }

  .workgrid {
    display: none;
  }

  .workgrid12 {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 435px 435px 435px 435px 435px 435px;
    margin: 24px 24px;
    row-gap: 37px;
  }

  .workgrid1 button {
    padding: 12px;
    font-size: 17px;
    font-family: inter, sans-serif;
    font-weight: bold;
    border: 0;
    width: 100%;
  }

  .workgrid4 {
    background: url("Images/ImgPlaceholder4.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .workgridp1 {
    font-family: crete round, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin: 12px 0;
    padding: 0 12px;
  }

  .workgridp2 {
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 12px 0;
    padding: 0 12px;
  }

  .workgrid12 ul {
    padding: 0 12px;
  }

  .formflex h2 {
    font-family: inter, sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: auto;
    text-align: center;
  }

  .workgrid12 li {
    display: inline-block;
  }

  .aboutsub p {
    font-family: inter, sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 22px;
    padding: 0;
    padding-top: 32px;
    margin: 0;
  }

  .workgrid12 li p {
    font-family: inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #fff;
    padding: 10px 12px;
    margin: 0;
    margin-right: 12px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .aboutme {
    background-color: #262626;
    margin: 0;
    padding: 12px 0;
  }

  .aboutme h2 {
    color: #f55800;
    font-family: crete round, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    margin-bottom: 24px;
  }

  .aboutp {
    font-family: inter, sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    width: auto;
    padding: 0;
    padding-right: 24px;
    margin: 0;
    margin-bottom: 12px;
  }

  .aboutmain1 {
    margin: 120px 0 0 24px;
    padding: 0;
    padding-bottom: 209px;
    background: url("Images/Group3.png");
    background-repeat: no-repeat;
    background-position: 100% 95%;
    width: auto;
  }

  .aboutme hr {
    margin: 0 24px;
  }

  .aboutsub {
    display: flex;
    flex-direction: column;
    margin: 24px;
    margin-top: 135px;
    align-items: center;
    margin-bottom: 120px;
  }

  .aboutsub ul {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 44px;
  }

  .sub1 {
    display: flex;
    align-items: center;
  }

  .aboutsub .sub1 h4 {
    color: #fff;
    font-family: inter, sans-serif;
    font-size: 32px;
    font-weight: normal;
    padding-left: 12px;
  }

  .form {
    background-color: #e5e5e5;
    margin: 0;
    padding-top: 130px;
  }

  form {
    align-self: center;
    width: fit-content;
  }

  .formflex {
    display: flex;
    flex-direction: column;
    margin: 10px 0 72px 0;
  }

  .name {
    display: none;
  }

  .name1 {
    display: block;
    border: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #e5e5e5;
    border-color: #dbd8d7;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #979493;
    width: 300px;
    margin-top: 73px;
    padding: 14px;
  }

  .email {
    border: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #e5e5e5;
    border-color: #dbd8d7;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #979493;
    width: 300px;
    margin-top: 30px;
  }

  .note {
    border: 0.5px solid;
    background-color: #fbf8f7;
    border-color: #dbd8d7;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #979493;
    width: 300px;
    height: 100px;
    margin-top: 36px;
    padding: 12px;
  }

  .btn {
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer ul {
    padding: 0;
  }

  .footer li {
    display: inline-block;
    padding: 8px;
  }
}
